.analyticsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2rem 1rem;
  gap: 1.8rem;
  flex-wrap: wrap;
  transition: .3s;
}

.analyticsContainer .cell {
  display: flex;
  flex-direction: column;
}

.analyticsContainer .cell > strong {
  text-align: center;
}

@media screen and (max-width: 850px) {
  .analyticsContainer {
   background: #f1f1f1;
  }
  
  .analyticsContainer .cell {
    justify-content: space-between;
  }

  .analyticsContainer .cell span {
    font-size: 1.8rem;
  }

  .analyticsContainer .cell strong {
    font-size: 2.1rem;
  }
}