.errorContainer {
  position: fixed;
  bottom: -20rem;
  left: 0;
  right: 0;
  font-size: 1.6rem;
  text-align: center;
  background: #e32d2d;
  color: #fff;

  animation: errorFrame 4s ease-in-out;
  
}

@keyframes errorFrame {
  0% {
    bottom: -20rem;
  }
  10%, 90% {
     bottom: 0;
  }

  0% {
    bottom: -10rem;
  }
}