.errorContainer {
  position: absolute;
  top: -20rem;
  left: 0;
  right: 0;
  font-size: 1.6rem;
  text-align: center;
  background: #e32d2d;
  color: var(--white);

  animation: errorFrame 4s ease-in-out;
  
}

@keyframes errorFrame {
  0% {
    top: -20rem;
  }
  10%, 90% {
    top: 0;
  }

  0% {
    top: -20rem;
  }
}