.errorContainer {
  position: fixed;
  bottom: -20rem;
  left: 0;
  right: 0;
  font-size: 1.6rem;
  text-align: center;
  background: #e32d2d;
  color: #fff;

  animation: errorFrame 5s ease-in-out forwards;
  display: inline-flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.errorContainer a {
  color: var(--white);
  text-decoration: underline;
}

@keyframes errorFrame {
  0% {
    bottom: -5rem;
  }
  10%,
  100% {
    bottom: 0;
  }
}
