.footerContainer {
  position: absolute;
  left:0;
  right: 0;
  padding: 4rem 0;

  background: #040404;
  border-top: 4px solid var(--blue);
  text-align: center;

  margin-top: 12rem;
}

.footerContainer p,
.footerContainer a {
  font-size: 1.6rem;
  opacity: 0.9;
  line-height: 1.5;
  padding: 0;
}

.footerContainer li {
  margin: 0;
}

.footerContainer p {
  color: #eee;
  text-align: center;
}

.footerContainer .siteMap {
  display: inline-flex;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
  margin: 0;
}

.social {
  padding: 1rem;
  display: flex;
  gap: .5rem;
  justify-content: center;
}

.social svg,
.social img {
  width: 3rem;
  height: 3rem;
}
