.basicFlexBox {
  display: flex;
  padding-left: 2.1rem;
  overflow: hidden;
  gap: 2rem;
}

.basicFlexBox > div:first-child {
  flex: 0.3;
}

.basicFlexBox > div:first-child span {
  white-space: nowrap;
}

.basicFlexBox > div:last-child {
  flex: 1;
  padding-left: 1rem;
}

.basicGraphBox {
  width: 15rem; 
}

.basicFlexBox .basicInfoBox {
  display: flex;
  flex-direction: column;
}

.basicFlexBox.withGraphs > div:first-child {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.basicFlexBox.withGraphs .basicInfoBox {
  width: 100%;
}

.basicFlexBox.withGraphs {
  max-height: 32rem;
  padding-bottom: 1rem;
}

.basicInfoBox {
  padding: 1rem 0;
}

.basicInfoDetails {
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
  border-left: 2px solid #d6d6d6;
}

.basicInfoDetails div {
  border-radius: 5px;
  padding: 1rem;
  position: relative;
  margin: .5rem 0;
}

.basicInfoDetails div::after {
  content: ' ';
  display: block;
  position: absolute;
  bottom: -.5rem;
  width: 100%;
  height: 2px;
  background: #f2f2f2;
}

.basicInfoDetails div:hover{
  background: #f2f2f2;
}

.basicInfoDetails p {
  display: inline;
  color: var(--black-36);
  font-size: 1.5rem;
}

.basicInfoDetails p:not(:last-child)::after {
  content: '-';
  display: inline;
  margin: 0 1rem;
}

.basicInfoDetails span {
  display: block;
  font-size: 2rem;
}

.building {
  opacity: 0.8;
  position: relative;
}

.building::after {
  content: "Ops! Ainda não terminamos isso aqui :/";
  position: absolute;
  bottom: .5rem;
  right: 1rem;
  font-size: 1.2rem;
  color: red;
}

.graphContainer {
  padding: 1rem;
  overflow-x: hidden;
  width: 100%;
}

.graphContainer > div {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  color: var(--black-36);
}

.graphContainer canvas {
  max-height: calc(52vh - 1rem);
}

.detailsList {
  padding: 2rem;

}

.detailsList > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d6d6d6;
  padding: 1rem;
  transition: .2s;
}

.detailsList > div:not(:last-child) {
  margin-bottom: 3rem;
}

.detailsList:not(.without) > div:hover {
  background: #f9f9f9;
  border-radius: 5px;
}

.detailsList > div > span,
.detailsList > div > a {
  font-size: 2.2rem;
  color: #000;
}

.detailsList > div > div {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.detailsList > div > div > p {
  margin-bottom: 0;
}
.detailsList > div > div > p:last-child{
  color: var(--black-36);
}

.detailsList .droplist {
  display: block;
}

.detailsList .droplist:not(:last-child) {
  margin-bottom: 3rem;
}

.droplistContent {
  color: var(--black-36);
  border-radius: 0 5px 5px 0;
  transition: .2s;
}


.droplistMain {
  cursor: pointer;
  transition: .2s;
  padding: 1rem;
  border-radius: 5px;
}

.droplist .droplistMain:hover {
  background: #f1f1f1;
}

.droplist .droplistContent:hover {
  background: #f9f9f9;
}

.detailsList .droplist .droplistMain button {
  background: transparent;
  margin: 0;
  padding: 0;
  margin-left: .5rem;
}

.detailsList .droplist .droplistMain,
.droplist .droplistContent > div {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.droplist .droplistContent {
  display: block;
  padding-right: 1rem;
}

.droplist .droplistMain > div {
  display: flex;
  align-items: center;
}

.droplist .droplistMain > div p {
  margin: 0;
}

.droplist .droplistMain > div img {
  margin-left: 1rem;
  transition: .2s;
  transform: rotateZ(0deg);
}

.droplist.active .droplistMain > div img {
  transform: rotateZ(-90deg);
}

.droplist:not(.active) .droplistContent {
  display: none;
}

.detailsList .droplist .droplistContent span{
  font-size: 1.8rem;
}

.droplistContent > div:not(:last-child) {
  border-bottom: 1px solid #d6d6d6;
}


.droplistContent {
  border-left: 3px solid #d6d6d6;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.detailsList .droplist p{
  display: inline;
}

.detailsList .droplist p:first-child::after {
  content: '-';
  padding: 0 .5rem 0 .5rem;
}

@media screen and (max-width: 650px) {
  .basicFlexBox.withGraphs {
    display: block;
    max-height: 50rem;
    padding: 1rem;
  }

  .basicFlexBox.withGraphs > div:first-child{
    flex-direction: row;
  }

  .basicFlexBox.withGraphs .basicGraphBox {
    max-width: 7rem;
  }

  .basicFlexBox.withGraphs .basicInfoDetails {
    border: none;
    padding-left: 0;
  }

  .basicFlexBox.withGraphs .basicInfoBox strong {
    background: #f2f2f2;
    color: var(--blue) !important;
    padding: 0.6rem;
    line-height: 1;
    width: fit-content;
    color: #fff;
    border-radius: 5px;
  }

  .basicFlexBox.withGraphs .basicInfoBox {
    flex-direction: row-reverse;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
  }
}

@media screen and (max-width: 420px) {
  .basicFlexBox.withGraphs .basicGraphBox {
    display: none;
  }

  .basicFlexBox.withGraphs .basicInfoBox {
    border-bottom: 1px solid #363636;
  }
}