.headerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2;
  z-index: 100;
  background: rgba(255, 255, 255, 0.9);
} 

.headerContainer.fixed {
  padding: 1rem;
  position: fixed;
  top: 0;
  left:0;
}

.headerContainer.padding {
  padding: 1rem;
}

.headerContainer h1 {
  font-size: 1.8rem;
  display: flex;
}

.headerContainer div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu {
  display: flex;
  gap: 2rem;
  background: #f2f2f2;
  border-radius: 30px;
  transition: .2s;
}

.menu img{ 
  height: 4.5rem;
}

.opened {
  padding-left: 2rem;
  border-radius: 5px 30px 30px 5px;
}

.linksBox {
  display: flex;
  gap: 3rem;
  font-size: 1.8rem;
  animation: appear .2s;
  flex-wrap: wrap;
}

.linksBox a {
  color: #343434;
  transition: .2s;
}

.linksBox a:hover {
  color: var(--blue);
}

.linkBox a.currentLink {
  color: red;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(2rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 550px) {
  .menu {
    flex-direction: column-reverse;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
    margin-top: 1rem;
    margin-right: 2rem;
  }

  .menu.opened {
    border-radius: 5px 30px 5px 5px;
    padding: 2rem;
  }

  .menu .linksBox {
    flex-direction: column;
  }
}