.fullLogoImage {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  font-weight: 400;
}

.fullLogoImage img {
  width: 7rem;
  border-radius: 5px;
  margin: .5rem;
}

.fullLogoImage span {
  font-size: 3rem;
  color: #000;
}

.halfLogoImage {
  cursor: pointer;
  margin: 0;
  width: 100%;
  font-weight: 400;
}

.halfLogoImage img {
  height: 4rem;
}


.fullLogoImage, .halfLogoImage {
  align-items: center;
}

@media screen and (max-height: 512px) {
  .fullLogoImage {
    display: inline-flex;
    flex-direction: row;
  }

  .fullLogoImage img {
    width: 4rem;
  }
}