.dashboardContainer {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #f2f2f2;
  display: flex;
  overflow: scroll;
}

.dashboardContent {
  transition: .3s;
}

.dashboardContent footer {
  position: static;
  width: 100%;
  background: none;
  border: 0;
  background: none;
  padding: 2rem;
}

.dashboardContent footer p {
  color: #000;
}

.dashboardContainer > div:first-child {
  border-bottom: 1px solid var(--gray-d6);
}

.dashboardContent {
  display: flex;
  flex-direction: column;
  padding: 3.5rem;
  width: 100%;
  margin-top: 6rem;
  margin-left: 20rem;
  color: #000;
  gap: 4rem;
  overflow-x: hidden;
}

.dashboardContent > div:not(.noBackground) {
  background: #fff;
  border-radius: 10px;
}

.dashboardContent span{
  font-size: 2.4rem;
}

.dashboardContent strong {
  font-size: 4rem;
  font-weight: 400;
}

@media  screen and (max-width:850px) {
  .dashboardContent { 
    margin-left: 0;
    padding-top: 8rem;
  }
}